In [ ]:
import pandas as pd

# Emisor

## 2021

In [ ]:
emisor_df = pd.read_pickle('emisor.pkl')

In [ ]:
emisor_df

In [ ]:
emisor_2021 = pd.read_pickle('emisor_2021.pkl')

In [ ]:
emisor_2021

In [ ]:
emisor_ccaa_mes_turistas2021 = emisor_2021.groupby(['mes', 'ccaa origen'])['turistas'].sum()

# Mostrar los datos agrupados
print(emisor_ccaa_mes_turistas2021)

In [ ]:
emisor_ccaa_mes_turistas2021 = emisor_ccaa_mes_turistas2021.reset_index()

# Ordena el DataFrame por mes y número de turistas de mayor a menor
emisor_ccaa_mes_turistas2021 = emisor_ccaa_mes_turistas2021.sort_values(by=['mes', 'turistas'], ascending=[True, False])
emisor_ccaa_mes_turistas2021

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Muestra el DataFrame con todos los datos
print("Datos agrupados por mes, CCAA y número de turistas (ordenados):")
print(emisor_ccaa_mes_turistas2021)

# Según este Dataframe: vemos que en 2021 las tres comunidades donde viajan mas turistas: + Cataluña, Andalucía y Madrid/ - Principado de Asturias, Cantabria, La Rioja

In [ ]:
emisor_nacional_2021 = pd.read_pickle('emisor_total_nacional_2021.pkl')
emisor_nacional_2021

In [ ]:
emisor_pais_ccaa_mes_turistas =  emisor_nacional_2021.groupby(['pais destino', 'ccaa origen', 'mes'])['turistas'].sum()

# Convertir la serie en un DataFrame y resetear el índice para que los índices se conviertan en columnas
emisor_pais_ccaa_mes_turistas = emisor_pais_ccaa_mes_turistas.reset_index()

emisor_pais_ccaa_mes_turistas_sorted = emisor_pais_ccaa_mes_turistas.sort_values(by='turistas', ascending=False)

print(emisor_pais_ccaa_mes_turistas_sorted)

In [ ]:
emisor_origen_nacional_2021 = emisor_pais_ccaa_mes_turistas_sorted.groupby(['mes', 'ccaa origen'])['turistas'].sum()
emisor_origen_nacional_2021

In [ ]:
emisor_origen_nacional_2021 = emisor_total_nacional_2021.sort_values(ascending=False)
emisor_origen_nacional_2021

## En relacion al turismo emisor en 2021¶
Como podemos ver el total del turismo emisor a nivel nacional en 2021, alcanzo sus datos máximos en agosto que supero los 2 millones de turistas seguidos dlm mes de Diciembre y Octubre que salieron mas de 1 milon 700 mil en ambos casos- Mientras que los meses que recibimos menos turistas fueron febrero,y enero y marzo y aun así este ultimo menos superamoslos 4 millonesl

In [ ]:
emisor_pais_total_turistas = emisor_pais_ccaa_mes_turistas_sorted.groupby('pais destino')['turistas'].sum()

# Convertir la serie resultante en un DataFrame y resetear el índice
emisor_pais_total_turistas_df = emisor_pais_total_turistas.reset_index()

# Ordenar los datos por la cantidad de turistas en orden descendente
emisor_pais_total_turistas_sorted = emisor_pais_total_turistas_df.sort_values(by='turistas', ascending=False)

print(emisor_pais_total_turistas_sorted)

# Los 3 países que más visitamos en 2021 fueron
- Francia con mas de 4 millones y medio de turistas
- Portugal con mas de 3 millones 700 mil turisas
- Italia comas de 1 milllon de turistas

# 2022

In [ ]:
emisor_2022 = pd.read_pickle('emisor_2022.pkl')

In [ ]:
emisor_2022

In [ ]:
emisor2022_ccaa_mes_turistas = emisor_2022.groupby(['mes', 'ccaa origen'])['turistas'].sum()

# Mostrar los datos agrupados
print("Datos agrupados por mes, CCAA y número de turistas:")
print(emisor2022_ccaa_mes_turistas)

In [ ]:
emisor_ccaa_mes_turistas2022 = emisor2022_ccaa_mes_turistas.reset_index()

# Ordena el DataFrame por mes y número de turistas de mayor a menor
emisor_ccaa_mes_turistas2022 = emisor_ccaa_mes_turistas2022.sort_values(by=['mes', 'turistas'], ascending=[True, False])
# emisor_ccaa_mes_turistas2022

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Muestra el DataFrame con todos los datos
print("Datos agrupados por mes, CCAA y número de turistas (ordenados):")
print(emisor_ccaa_mes_turistas2022)

# Según este Dataframe: vemos que en 2022 las tres comunidades donde salen mas turistas: + Cataluña, Andalucía y Madrid/ - Principado de Asturias, Cantabria, La Rioja

In [ ]:
emisor_nacional_2022_df= pd.read_pickle('emisor_nacional_2022.pkl')

In [ ]:
emisor_pais_ccaa_mes_turistas2022_nacional =  emisor_nacional_2022_df.groupby(['pais destino', 'ccaa origen', 'mes'])['turistas'].sum()

# Convertir la serie en un DataFrame y resetear el índice para que los índices se conviertan en columnas
emisor_nacional_pais_ccaa_mes_turistas22 = emisor_pais_ccaa_mes_turistas2022_nacional.reset_index()

emisor_nacional_pais_ccaa_mes_turistas22_sorted = emisor_nacional_pais_ccaa_mes_turistas22.sort_values(by='turistas', ascending=False)

print(emisor_nacional_pais_ccaa_mes_turistas22_sorted)

In [ ]:
emisor_nacional_2022 = emisor_nacional_2022_df.groupby(['mes', 'ccaa origen'])['turistas'].sum()
emisor_nacional_2022

In [ ]:
emisor_nacional_2022_sort = emisor_nacional_2022.sort_values(ascending=False)
emisor_nacional_2022_sort

In [ ]:
# En relacion al turismo nacional en 2022
Como podemos ver el total del turismo emisor a nivel nacional en 2022, alcanzo sus datos máximos en agosto que supero los 2 millones 800 mil de turistas seguidos dlm mes de Julio y Diciembre que con casi 2 millones y medio
Mientras que los meses que recibimos menos turistas fueron febrero,y enero y marzo que los datos registrados están entre 1 millon 100mil y 1 y medio

In [ ]:
emisor_pais_ccaa_turistas2022 =  emisor_nacional_2022_df.groupby(['pais destino'])['turistas'].sum()

# Convertir la serie en un DataFrame y resetear el índice para que los índices se conviertan en columnas
emisor_pais_ccaa_turistas2022 = emisor_pais_ccaa_turistas2022.reset_index()

emisor_pais_ccaa_turistas2022_sorted = emisor_pais_ccaa_turistas2022.sort_values(by='turistas', ascending=False)

print(emisor_pais_ccaa_turistas2022_sorted)

In [ ]:
# Los 3 países que más visitamos en 2022 fueron
- Francia con mas de 6 millones y medio seguido de
- Portugal con casi 5 millones y medio
- Italia con mas de 2 millones

In [ ]:
# 2023

In [ ]:
emisor_2023 = pd.read_pickle('emisor_2023.pkl')
emisor_2023

In [ ]:
emisor_ccaa_mes_turistas2023 = emisor_2023.groupby(['mes', 'ccaa origen'])['turistas'].sum()

# Mostrar los datos agrupados
print("Datos agrupados por mes, CCAA y número de turistas:")
print(emisor_ccaa_mes_turistas2023)

In [ ]:
emisor_ccaa_mes_turistas2023 = emisor_ccaa_mes_turistas2023.reset_index()

# Ordena el DataFrame por mes y número de turistas de mayor a menor
emisor_ccaa_mes_turistas2023 = emisor_ccaa_mes_turistas2023.sort_values(by=['mes', 'turistas'], ascending=[True, False])
emisor_ccaa_mes_turistas2023

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Muestra el DataFrame con todos los datos
print("Datos agrupados por mes, CCAA y número de turistas (ordenados):")
print(emisor_ccaa_mes_turistas2023)

In [ ]:
# Según este Dataframe: vemos que en 2022 las tres comunidades donde salen mas turistas: + Cataluña, Andalucía y Madrid/ - Principado de Asturias, Cantabria, La Rioja

In [ ]:
emisor_total_nacional_2023= pd.read_pickle('emisor_total_nacional_2023.pkl')
emisor_total_nacional_2023

In [ ]:
emisor_pais_ccaa_nacional_turistas =  emisor_total_nacional_2023.groupby(['pais destino', 'ccaa origen', 'mes'])['turistas'].sum()

# Convertir la serie en un DataFrame y resetear el índice para que los índices se conviertan en columnas
emisor_pais_ccaa_nacional_turistas = emisor_pais_ccaa_nacional_turistas.reset_index()

emisor_pais_ccaa_nacional_turistas_sorted = emisor_pais_ccaa_nacional_turistas.sort_values(by='turistas', ascending=False)

print(emisor_pais_ccaa_nacional_turistas_sorted)

In [ ]:
emisor_pais_ccaa_nacional_turistas_sorted = emisor_pais_ccaa_nacional_turistas_sorted.groupby(['mes', 'ccaa origen'])['turistas'].sum()
emisor_pais_ccaa_nacional_turistas_sorted

In [ ]:
emisor_nacional_sorted = emisor_pais_ccaa_nacional_turistas_sorted.sort_values(ascending=False)
emisor_nacional_sorted

# En relacion al turismo nacional en 2023 
Como podemos ver el total del turismo receptor a nivel nacional en 2023, alcanzo sus datos máximos en agosto casi llegamos a los 3 millones de turistas seguidos dlm mes de Diciembre y Julio
Mientras que los meses que recibimos menos turistas fueron febrero,y enero y noviembre con datos registrados entre el 1 millon 700 y los 2 millones

In [ ]:
pais_total_turistas2023 = emisor_total_nacional_2023.groupby('pais destino')['turistas'].sum()

# Convertir la serie resultante en un DataFrame y resetear el índice
pais_total_turistas_df = pais_total_turistas2023.reset_index()

# Ordenar los datos por la cantidad de turistas en orden descendente
pais_total_turistas_df_sorted = pais_total_turistas_df.sort_values(by='turistas', ascending=False)

print(pais_total_turistas_df_sorted)

In [ ]:
# Los 3 países que más visitamos en 2023 fueron
Francia con mas de76 millone
Portugal con cas6 5 millon
Italia con mas de 2 millo y mediones

# Presentación Mark 4 Tur: Miniproyect

In [ ]:
https://prezi.com/view/c3ODI8UpcwAw6Xgk73QM/