In [ ]:
import pandas as pd

In [ ]:
evol_tur_df = pd.read_pickle('Evol_tur_no_resi.pkl') # Tabla extraida mediante web scraping de wikipedia
evol_tur_df

In [ ]:
receptor_df = pd.read_pickle('receptor.pkl')

In [ ]:
receptor_df

In [ ]:
receptor_total_nacional_df = pd.read_pickle('receptor_total_nacional_df.pkl')
receptor_total_nacional_df

# 2021

In [ ]:
receptor_2021 = pd.read_pickle('receptor_2021.pkl')

In [ ]:
receptor_2021.columns

In [ ]:
grupo_ccaa_mes_turistas = receptor_2021.groupby(['mes', 'ccaa destino'])['turistas'].sum()

# Mostrar los datos agrupados
print("Datos agrupados por mes, CCAA y número de turistas:")
print(grupo_ccaa_mes_turistas)

In [ ]:
grupo_ccaa_mes_turistas_df = grupo_ccaa_mes_turistas.reset_index()

# Ordena el DataFrame por mes y número de turistas de mayor a menor
grupo_ccaa_mes_turistas_df = grupo_ccaa_mes_turistas_df.sort_values(by=['mes', 'turistas'], ascending=[True, False])
grupo_ccaa_mes_turistas_df

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Muestra el DataFrame con todos los datos
print("Datos agrupados por mes, CCAA y número de turistas (ordenados):")
print(grupo_ccaa_mes_turistas_df)

### Según este Dataframe: vemos que en 2021 las tres comunidades que más turitas reciben: + Cataluña, andalucía y balerares/ - La Rioja,  Ceuta, Melilla

In [ ]:
pais_ccaa_mes_turistas =  receptor_2021.groupby(['pais origen', 'ccaa destino', 'mes'])['turistas'].sum()

# Convertir la serie en un DataFrame y resetear el índice para que los índices se conviertan en columnas
pais_ccaa_mes_turistas = pais_ccaa_mes_turistas.reset_index()

pais_ccaa_mes_turistas_sorted = pais_ccaa_mes_turistas.sort_values(by='turistas', ascending=False)

print(pais_ccaa_mes_turistas_sorted)

In [ ]:
receptor_total_nacional_2021 = pd.read_pickle('receptor_total_nacional_2021.pkl')
receptor_total_nacional_2021

In [ ]:
grupo_nacional_mes_turistas_df = receptor_total_nacional_2021.groupby(['mes', 'ccaa destino'])['turistas'].sum()
grupo_nacional_mes_turistas_df

In [ ]:
grupo_nacional_mes_turistas_df_sorted = grupo_nacional_mes_turistas_df.sort_values(ascending=False)
grupo_nacional_mes_turistas_df_sorted

### En relacion al turismo nacional en 2021
Como podemos ver el total del turismo receptor a nivel nacional en 2021, alcanzo sus datos máximos en agosto que supero los 6 millones de turistas seguidos dem mes de octubre y septiembre-
Mientras que los meses que recibimos menos turistas fueron marzo, enero y febrero y aun así este ultimo menos superamos el millon 300 mil

In [ ]:
pais_total_turistas = receptor_2021.groupby('pais origen')['turistas'].sum()

# Convertir la serie resultante en un DataFrame y resetear el índice
pais_total_turistas_df = pais_total_turistas.reset_index()

# Ordenar los datos por la cantidad de turistas en orden descendente
pais_total_turistas_df_sorted = pais_total_turistas_df.sort_values(by='turistas', ascending=False)

print(pais_total_turistas_df_sorted)

# Los 3 países que más nos visitaron fueron
- Francia con casi 8 millones seguido de 
- Alemania con mas de 5 millones  y
- Reino Unido con mas de 4 millones y medio

# 2022

In [ ]:
receptor_2022df = pd.read_pickle('receptor_2022.pkl')

In [ ]:
receptor_2022df

In [ ]:
ccaa_mes_turistas2022 = receptor_2022df.groupby(['mes', 'ccaa destino'])['turistas'].sum()

# Mostrar los datos agrupados
print("Datos agrupados por mes, CCAA y número de turistas:")
print(ccaa_mes_turistas2022)

In [ ]:
ccaa_mes_turistas2022 = ccaa_mes_turistas2022.reset_index()

# Ordena el DataFrame por mes y número de turistas de mayor a menor
ccaa_mes_turistas2022 = ccaa_mes_turistas2022.sort_values(by=['mes', 'turistas'], ascending=[True, False])
ccaa_mes_turistas2022

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Muestra el DataFrame con todos los datos
print("Datos agrupados por mes, CCAA y número de turistas (ordenados):")
print(ccaa_mes_turistas2022)

# Según este Dataframe: vemos que en 2022 las tres comunidades que más turitas reciben: + Cataluña, andalucía y Canarias y / - La Rioja,  Ceuta, Melilla

In [ ]:
pais_ccaa_mes_turistas =  receptor_2022df.groupby(['pais origen', 'ccaa destino', 'mes'])['turistas'].sum()

# Convertir la serie en un DataFrame y resetear el índice para que los índices se conviertan en columnas
pais_ccaa_mes_turistas = pais_ccaa_mes_turistas.reset_index()

pais_ccaa_mes_turistas_sorted = pais_ccaa_mes_turistas.sort_values(by='turistas', ascending=False)

print(pais_ccaa_mes_turistas_sorted)

In [ ]:
receptor_total_nacional_2022 = pd.read_pickle('receptor_total_nacional_2022.pkl')
receptor_total_nacional_2022

In [ ]:
nacional_mes_turistas__2022_df = receptor_total_nacional_2022.groupby(['mes', 'ccaa destino'])['turistas'].sum()
nacional_mes_turistas__2022_df

In [ ]:
nacional_mes_turistas_2022_df_sorted = nacional_mes_turistas__2022_df.sort_values(ascending=False)
nacional_mes_turistas_2022_df_sorted

# En relacion al turismo nacional en 2022
Como podemos ver el total del turismo receptor a nivel nacional e 2022, alcanzo sus datos máximos en agosto que supero los96 millones de turistas seguidos dlm mes deJulioe y septiembre- Mientras que los meses que recibimos menos turistas fueron ener,y febrer y diciembreo y aun así este ultimo menos superamoslos 3 millonesl

In [ ]:
pais_total_turistas2022 = receptor_total_nacional_2022.groupby('pais origen')['turistas'].sum()

# Convertir la serie resultante en un DataFrame y resetear el índice
pais_total_turistas_2022_df = pais_total_turistas2022.reset_index()

# Ordenar los datos por la cantidad de turistas en orden descendente
nacional_mes_turistas_2022_df_sorted = pais_total_turistas_2022_df.sort_values(by='turistas', ascending=False)

print(nacional_mes_turistas_2022_df_sorted)

# Los 3 países que más nos visitaron fueron
- Reino Unido  con casi 15 millones seguido de
- Francia con mas de 11 millones y
- Alemania con mas de 10 millones y 700

# 2023

In [ ]:
receptor_2023df = pd.read_pickle('receptor_2023.pkl')
receptor_2023df

In [ ]:
ccaa_mes_turistas2023 = receptor_2023df.groupby(['mes', 'ccaa destino'])['turistas'].sum()

# Mostrar los datos agrupados
print("Datos agrupados por mes, CCAA y número de turistas:")
print(ccaa_mes_turistas2023)

In [ ]:
ccaa_mes_turistas2023 = ccaa_mes_turistas2023.reset_index()

# Ordena el DataFrame por mes y número de turistas de mayor a menor
ccaa_mes_turistas2023 = ccaa_mes_turistas2023.sort_values(by=['mes', 'turistas'], ascending=[True, False])
ccaa_mes_turistas2023

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Muestra el DataFrame con todos los datos
print("Datos agrupados por mes, CCAA y número de turistas (ordenados):")
print(ccaa_mes_turistas2023)

# Según este Dataframe: vemos que en 2023 las tres comunidades que más turitas reciben: + Cataluña, andalucía y balerares/ - La Rioja,  Ceuta, Melilla

In [ ]:
pais_ccaa_mes_turistas2023 =  receptor_2023df.groupby(['pais origen', 'ccaa destino', 'mes'])['turistas'].sum()

# Convertir la serie en un DataFrame y resetear el índice para que los índices se conviertan en columnas
pais_ccaa_mes_turistas2023 = pais_ccaa_mes_turistas2023.reset_index()

pais_ccaa_mes_turistas_2023_sorted = pais_ccaa_mes_turistas2023.sort_values(by='turistas', ascending=False)

print(pais_ccaa_mes_turistas_2023_sorted)

In [ ]:
receptor_nacional_2023_df = pd.read_pickle('receptor_total_nacional_2023.pkl')
receptor_nacional_2023_df

In [ ]:
nacional_mes_turistas_2023_df = receptor_nacional_2023_df.groupby(['mes', 'ccaa destino'])['turistas'].sum()
nacional_mes_turistas_2023_df

In [ ]:
nacional_mes_turistas_2023_df_sorted = nacional_mes_turistas_2023_df.sort_values(ascending=False)
nacional_mes_turistas_2023_df_sorted

# En relacion al turismo nacional en 2023
Como podemos ver el total del turismo receptor a nivel nacional en 2023, alcanzo sus datos máximos en agosto que supero los 11 millones de turistas seguidos dlm mes de Julio y septiembre- Mientras que los meses que recibimos menos turistas fueron febrero,y enero y marzo y aun así este ultimo menos superamoslos 4 millonesl

In [ ]:
pais_total_turistas2023 = receptor_nacional_2023_df.groupby('pais origen')['turistas'].sum()

# Convertir la serie resultante en un DataFrame y resetear el índice
pais_total_turistas_2023_df = pais_total_turistas2023.reset_index()

# Ordenar los datos por la cantidad de turistas en orden descendente
pais_total_turistas_2023_df_sorted = pais_total_turistas_2023_df.sort_values(by='turistas', ascending=False)

print(pais_total_turistas_2023_df_sorted)

# Los 3 países que más nos visitaron fueron
- Reino Unido  con casi 17 millones seguido de
- Francia con mas de 12 millones y
- Alemania con mas de 11 millones y 900